@import "tailwindcss";

:root {
  --background: #0a0b0d;
  --foreground: #ededed;
  --primary: #00bcd1;
}

@layer utilities {
  .section-subtitle {
    @apply text-[#ABABAB] text-[16px] lg:text-lg leading-relaxed;
  }
  .section-title {
    @apply text-3xl lg:text-5xl font-bold mb-6 text-[#F1F1F1];
  }
  .container {
    @apply container mx-auto px-4 md:px-5;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-poppins), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.ant-drawer-close {
  color: white !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
